$border: #363636;
$iconBg: #636363;
$titleColor: #818181;
$textColor: #818181;

.advantages__title {
  @include visually-hidden();
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  grid-column-gap: 30px;
  padding-top: 65px;
  padding-bottom: 50px;
}

.advantages__item {
  margin: 15px 0;

  &:hover {
    .advantages__img {
      border-color: $second;
    }

    .advantages__svg {
      fill: $second;
    }

    .advantages__subtitle {
      color: $second;
    }

    .advantages__text {
      color: $white;
    }
  }
}

.advantages__img {
  border: 1px solid;
  border-color: $border;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  position: relative;
  transition: border-color 500ms;
  overflow: hidden;
}

.advantages__svg {
  fill: $iconBg;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 500ms;
}

.advantages__subtitle {
  font-size: 18px;
  font-family: "Raleway";
  color: $titleColor;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.111;
  transition: color 500ms;
  margin: 20px 0;
}

.advantages__text {
  font-size: 14px;
  font-family: "Roboto";
  color: $textColor;
  line-height: 1.429;
  text-align: left;
  transition: color 500ms;
  margin: 20px 0;

  &::after {
    content: "";
    background-color: $second;
    width: 70px;
    height: 2px;
    display: block;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .advantages__item {
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
  }

  .advantages__img {
    margin: 0 auto;
  }
}
