$text-color: #555555;

.banner {
  background: url("../img/bg-man.jpg") center top no-repeat;
  background-size: cover;
}
.banner__wrap {
  padding-top: 255px;
  padding-bottom: 250px;
}

.banner__info {
  max-width: 580px;
  margin-left: auto;
}
.banner__title {
  font-family: "Raleway";
  font-size: 80px;
  color: $white;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}

.banner__little {
  font-size: 43px;
  display: block;
}

.banner__red {
  color: $second;
}

.banner__text {
  font-size: 18px;
  font-family: "Raleway";
  color: $text-color;
  text-transform: uppercase;
  line-height: 1.333;
  font-weight: 800;
}

.banner__button {
  @include button() {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
  }
}

.banner__button--last {
  margin-right: 0;
  background-color: transparent;
  border-color: $white;
}

@media (max-width: 980px) {
  .banner {
    background: none;
  }
  .banner__wrap {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .banner__info {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 50px;
  }

  .banner__little {
    font-size: 25px;
  }

  .banner__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .banner__title {
    font-size: 40px;
  }

  .banner__little {
    font-size: 20px;
  }

  .banner__text {
    font-size: 14px;
  }

  .banner__button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
