$textColor: #818181;
$lineColor: #2f2f2f;

.blog__title--hide {
  @include visually-hidden;
}

.blog__list {
  padding-top: 120px;
  padding-bottom: 150px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12, minmax(97px, auto));
  grid-template-rows: repeat(5, minmax(130px, auto));
}
.blog__element {
  background-size: cover;
  border: 5px solid transparent;
  transition: border-color 500ms;
  position: relative;
  display: block;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.85);
    opacity: 0;
    transition: opacity 500ms;
  }

  &:nth-child(2) {
    border: none;
  }

  &:hover {
    border-color: $second;
    &::before {
      z-index: 1;
      opacity: 1;
    }
    .blog__link {
      background: $second;
    }
  }
}
.blog__element:nth-child(1) {
  background: url("../img/img6.jpg") center no-repeat;
  grid-row: 1 / 4;
}

.blog__element:nth-child(2) {
  grid-row: 1 / 3;
}

.blog__element:nth-child(3) {
  background: url("../img/img7.jpg") center no-repeat;
  grid-row: 4 / 6;
}

.blog__element:nth-child(4) {
  background: url("../img/img8.jpg") center no-repeat;
  grid-row: 4 / 6;
}

.blog__element:nth-child(5) {
  background: url("../img/img9.jpg") center no-repeat;
  grid-row: 3 / 6;
}

.blog__element--three {
  grid-column: span 3;
}

.blog__element--four {
  grid-column: span 4;
}

.blog__element--five {
  grid-column: span 5;
}

.blog__element--eigth {
  grid-column: span 8;
}

.blog__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.blog__link {
  width: 41px;
  height: 41px;
  background-color: $black;
  position: relative;
  transition: background-color 500ms;

  svg {
    fill: $white;
    width: 21px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.blog__title {
  font-size: 24px;
  font-family: "Raleway";
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;
  margin: 20px 0;
  &::nth-child(1) {
    font-style: 30px;
  }
}

.blog__description {
  font-size: 12px;
  color: $textColor;
  text-transform: uppercase;
  line-height: 1.167;
  position: relative;
  margin-bottom: 35px;
  span {
    font-weight: 700;
    color: $white;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: $second;
  }
}

.blog__subtitle {
  font-size: 30px;
  font-family: "Raleway";
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  position: relative;
  margin: 0;
  &::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: $lineColor;
  }
}

.blog__text {
  font-size: 14px;
  font-family: "Roboto";
  color: $textColor;
  line-height: 1.429;
}
