.header {
  border-bottom: 4px solid $second;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.header__logo {
  margin-right: 20px;
}

.header__menu {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .header__wrap {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: flex-start;
  }
  .header__logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
