$listColor: #959595;

.list {
  font-size: 14px;
  color: $listColor;
  line-height: 1.286;
  list-style: none;
  padding: 0;

  .list__element {
    position: relative;
    padding-left: 55px;
    margin: 15px 0;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 23px;
      width: 8px;
      height: 2px;
      transform: translateY(-50%);
      background-color: $second;
    }
  }
}
