$text-color: #707070;
.menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.menu__element {
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  color: $text-color;
  text-decoration: none;
  font-size: 12px;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.667;
  transition: color 0.5s;
  &:before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: $second;
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    color: $second;
    &:before {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .menu__element {
    margin-right: 25px;
  }
}
