.progress__name {
  font-size: 14px;
  font-family: "Raleway";
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.429;
  margin: 10px 0;
}

.progress__element {
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}

.progress__line {
  background-color: $white;
  height: 4px;
  width: 0%;
  position: relative;
}

.progress__tooltip {
  position: absolute;
  background-color: $primary;
  border-radius: 3px;
  width: 31px;
  height: 21px;
  font-size: 11px;
  color: $white;
  font-weight: 700;
  line-height: 1.818;
  text-align: center;
  top: -32px;
  right: -15px;
  display: none;

  &::after {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid $primary;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
  }
}
