$lineColor: #2f2f2f;
$textColor: #818181;

.responsive__wrap {
  background: url("../img/bg-two.png") center left no-repeat;
  padding-top: 120px;
  padding-bottom: 100px;
}

.responsive__information {
  max-width: 360px;
  margin-left: auto;
}

.responsive__title {
  font-size: 30px;
  font-family: "Raleway";
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 25px 0;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    background-color: $lineColor;
    width: 70px;
    height: 2px;
  }
}

.responsive__text {
  font-size: 14px;
  color: $textColor;
  line-height: 1.429;
  margin: 20px 0;
}

.responsive__list {
  margin: 20px 0;
}

.responsive__button {
  @include button($thirty) {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .responsive__wrap {
    background-image: none;
  }
  .responsive__information {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .responsive__wrap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
